@import "../../../admin/custom.scss";
p{
  margin-bottom: 0;
}
.content-form{
  font-family: hevatica-regular, sans-serif;
  .btnForm{
    margin: 10px 10px 10px 0;
    padding: 3px 5px;
  }
  .select-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div{
      width: 45%;
      margin-right: 5%;
    }
  }
  .content-itemArr{
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--bg-gray);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .content-formArr1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div{
      width: 45%;
      margin-right: 5%;
      label{
        width: 100%;
        height: 65px;
        p{
          font-weight: bold;
        }
        input{
          width: 100%;height: 30px;
        }
      }

    }
  }
  .content-formArr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
      span{
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .content-formImgArr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    label{
      width: 100%;
      input{
        width: 100%;
      }
      span{
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
      }
    }
    .form-group{
      width: 40%;
      input{
        width: 100%;
      }
    }
  }

}

.mr-t10{
  margin: 10px 10px 10px 0;
}
.contentTag{
  padding-bottom: 10px ;
  p{
    color: var(--info);
    text-decoration: underline;
    font-weight: bold;
  }
  i{
    color: var(--info);
  }
}

