<div class="content-trang-chu">
  <div class="content">
    <div class="title leftFlex">
      <i class="fad fa-question-circle"></i>
      <span>Trang chủ</span>
    </div>

    <div class="btn-group">
      <button mat-raised-button class="btnCustomForm1" (click)="openFormTrangchu()">
        <i class="fad fa-folder-open"></i>
        <span>Mở form</span>
      </button>
      <button mat-raised-button class="btnCustomForm2" (click)="updateFormTrangchu(this.dataFormTrangchuFB)">
        <i class="fa fa-edit"></i>
        <span>Chỉnh sửa form</span>
      </button>
    </div>

  </div>
</div>
