@import "../../../admin/custom.scss";
.form-content{
  .betweenFlex{
    display: flex;justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    span{
      font-weight: bold;
      color: var(--primary-color);
    }
    input{
      width: 300px;
      margin-left: 5px;
      font-size: 14px;
    }
  }
}

.btnExForm{
  margin: 15px 10px 15px 0;
  padding: 5px;
  font-family: hevatica-regular, sans-serif;
  i{
    font-size: 150%;
    margin-right: 5px;
  }
  span{
    font-size: 120%;
  }
}
