@import "responsive.scss";
.container-main{
  width: 100%;
  background-color: var(--bg-gray);
  padding: 0!important;margin: 0!important;
  font-family: 'Helvetica Neue', sans-serif;
  .content-product{
    margin: 0px 50px;
    background-color: var(--bg-gray);
    width: calc(100%  - 100px);
    .content-title{
      padding-top:20px;
      padding-bottom: 20px;
      .content-product-item__title{
        display: flex;justify-content: space-between;
        align-items: center;height: 44px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        background-color: white;border-radius: 5px;
        overflow: hidden;
        .title-left{
          clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
          background-color: var(--main-color1);height: 100%;
          h2{
            font-size: 100%;height: 100%;
            margin-bottom: 0!important;
            padding: 0 100px 0 10px;display: flex;
            align-items: center;
            a{
              text-decoration: none;
              text-transform: none;
              color: white;font-family: 'Helvetica Neue', sans-serif;
            }
          }
        }
        .title-right{
          a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.9);
            font-weight: 500;
            margin-right: 10px;
          }
        }
      }
    }

    .sort-bar {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      display: flex;flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      height: 60px;
      background-color: #ededed;

      span {
        margin-left: 20px;
        margin-right: 15px;
      }

      .sort-by-option {
        display: flex;
        justify-content: flex-start;
        align-items: center;flex-wrap: wrap;

        ::ng-deep mat-button-toggle-group {
          border: none;
          height: 35px;

          mat-button-toggle {
            margin-right: 10px;
            border-radius: 5px;
          }

          mat-button-toggle.sort-by-option__option.mat-button-toggle-checked {
            background-color: var(--primary-color);
          }

          mat-button-toggle.sort-by-option__option.mat-button-toggle-checked span {
            color: white !important;
          }
          ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
            line-height: 37px;
          }
        }

        .displayPage {
          margin-right: 20px;
          width: 100px;
          ::ng-deep mat-form-field {
            height: 35px;width: 100%;
            .mat-form-field-appearance-outline .mat-form-field-infix {
              padding: 0;width: 100%;
            }
          }
          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 5px 0;
          }
          ::ng-deep.mat-form-field-infix {
            width: 100%;
          }
          ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
            line-height: 38px;
          }
          ::ng-deep .mat-form-field-outline.ng-tns-c84-19.ng-star-inserted{
            background: white!important;
            border-radius: 5px;
          }
          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
            margin:0;
            background-color: white;
            border-radius: 5px;
          }
          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick{
            color: var(--primary-color);
          }

        }
        .sortPrice{
          width:200px;height: 40px;
          ::ng-deep mat-form-field {
            height: 100%;width: 100%;
          }
          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
            margin:0;height: 100%;
          }
          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
            height: 100%;
          }
          ::ng-deep .mat-form-field-outline.ng-star-inserted{
            background-color: white;
            border-radius: 5px;
          }
          ::ng-deep .mat-select-trigger{
            top:-11px;
          }
          ::ng-deep .mat-form-field-outline.ng-tns-c84-21.ng-star-inserted{
            background-color: white;
            border-radius: 5px;
          }
          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
            padding: 11px 0;
          }
          ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick{
            color: var(--primary-color);
          }
        }
      }
    }
    .content-product-item__list{
      .list_total_product {
        width: 100%;padding-top:10px;
        background-color: #f5f5f5;
        ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          justify-content: flex-start;

          li {
            transition: all 0.35s ease-in;
            position: relative;
            background-color: white;
            width: 228px;
            margin: 10px;
            border-radius: 5px;
            border: none;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .form-cell {
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;

              .custom-img {
                position: relative;
                width: 100%;z-index:5;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  width: 150px;
                  height: 150px;
                }
                .img-like{
                  position: absolute;
                  top:15px;left: -7px;
                  .img-like2{
                    position: absolute;
                    z-index: 3;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
                    width: 7px;height: 26px;
                    background-color: #913113;

                  }
                  .img-like1{
                    position: absolute;
                    height: 20px;index: 2;
                    width: 80px;
                    background-color: #f25220;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    z-index: 4;
                    display: flex;
                    align-items: center;
                    span{
                      color: white;
                      margin-left: 6px;
                      position: absolute;
                      z-index: 5;
                      font-family: 'Helvetica Neue', sans-serif;
                      font-size: 95%;
                    }
                  }
                }
                .img-discount{
                  position: absolute;  font-family: 'Helvetica Neue', sans-serif;
                  top:0;right: 0;border-top-right-radius: 5px;
                  width: 40px;height: 55px;
                  clip-path: polygon(100% 0, 100% 100%, 50% 76%, 0 100%, 0 0);;
                  background-color: #f9d233;
                  display: flex;justify-content: flex-start;
                  align-items: center;flex-direction: column;

                  .valueDiscount{
                    margin:0;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 600;
                  }
                  .textDiscount{
                    font-family: 'Helvetica Neue', sans-serif;
                    font-size: 95%;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: white;
                  }
                }

              }

              .contentTotal {
                width: 100%;
                padding: 0 10px;
                font-family: 'Helvetica Neue', sans-serif;
                margin-bottom: 10px;
                .contentProduct {
                  margin-top: 15px;cursor: pointer;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  overflow: hidden;
                  line-height: 2rem;
                  height: 4rem;
                  -webkit-box-orient: vertical;
                  white-space: normal;  transition:all 0.35s ease-in;
                  -webkit-line-clamp: 2;
                  h3{
                    all: unset;
                    font-size: 110%;
                    font-weight: 400;
                    color: #333;
                  }
                }
                .contentProduct:hover{
                  font-weight: 400;
                  font-size: 102%;
                  transition:all 0.35s ease-in;
                }
                .priceProduct {
                  display: flex;
                  margin-top: 15px;
                  justify-content: space-between;
                  margin-bottom: 10px;
                  font-family: 'Helvetica Neue', sans-serif;
                  span:first-child{
                    font-weight: 600;
                  }
                  span:last-child{
                    color: #ee4d2d;  font-weight: 600;
                  }
                  i{
                    color: #00aced;
                  }
                }

                .starProduct {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .class-one{
                    ngb-rating{
                      padding-right: 15px;
                      transform: scale(1.7);
                    }
                    span{
                      font-size: 11px;
                      font-family: 'Helvetica Neue', sans-serif;
                    }
                  }

                  .star {
                    position: relative;
                    display: inline-block;
                    font-size: 3rem;
                    color: #d3d3d3;
                  }
                  .full {
                    color: orange;
                  }
                  .half {
                    position: absolute;
                    display: inline-block;
                    overflow: hidden;
                    color: orange;
                  }

                }

                .addressProduct {
                  float: right;
                  color: rgba(0, 0, 0, 0.75);
                  text-space: 1px;
                  font-size: 11px;
                  margin: 5px 0;
                }

              }
            }
          }

          li:hover::after{
            position: absolute;content: "";
            top:0;left: -1px;
            width: 2px;
            background-color: var(--primary-color);
            animation: animationHeight 1s linear infinite;
          }
          li:hover::before{
            position: absolute;content: "";
            bottom:0;right: -1px;
            width: 2px;
            background-color: var(--primary-color);
            animation: animationHeight 1s linear infinite;
          }
          li:hover{
            transform: translateY(-5px);  transition: all 0.35s ease-in;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            .custom-img{
              img.img-main {
                transform: scale(1.1);
                transition: all 0.35s ease-in;
              }

            }
          }
        }

        ::ng-deep pagination-controls{
          ul{
            padding-top:10px;
            padding-bottom: 20px;
          }
          li{
            margin: 0 5px;
          }
          .ngx-pagination .disabled{
            padding: 5px 10px;
            background-color: var(--primary-color);
            border-radius: 20px;
          }
          .pagination-next.ng-star-inserted{

          }
          .ngx-pagination .current{
            padding: 5px 12px;
            border-radius: 20px;
          }
          .ngx-pagination a{
            padding: 5px 12px;
            border-radius: 20px;
          }
        }
      }
    }
  }
}
