<div class="container1">
  <div class="content">
    <div class="title leftFlex">
      <i class="fad fa-question-circle"></i>
      <span>Thông tin công ty</span>
    </div>

    <div class="btn-group">
        <button mat-raised-button class="btnCustomForm1" (click)="openFormInfoCompany()">
          <i class="fad fa-folder-open"></i>
         <span>Mở form</span>
        </button>
      <button mat-raised-button class="btnCustomForm2" (click)="updateFormInfoCompany(this.dataFormInfoCompanyFB)">
        <i class="fa fa-edit"></i>
        <span>Chỉnh sửa form</span>
      </button>
    </div>

  </div>
</div>
