
<div class="content-product-main">
  <div class="btn-group leftFlex">
    <button mat-raised-button class="btnCustomForm1" (click)="openFormTintuc()">
      <i class="fad fa-folder-open"></i>
      <span>Mở form</span>
    </button>
    <button mat-raised-button class="btnCustomForm2" (click)="updateFormTintuc(this.dataFormTintucFB)">
      <i class="fa fa-edit"></i>
      <span>Chỉnh sửa form</span>
    </button>
  </div>

  <div class="content">
    <table>
      <tr>
        <th>Tên</th>
        <th>Link</th>
      </tr>
      <tr *ngFor="let item of dataTintucMain">
        <td>{{item.name}}</td>
        <td>{{item.link}}</td>
      </tr>
    </table>

  </div>
</div>
