<div class="content-form">
  <p class="text-warning"><u><b>Hãy nhấn nút CLEAR ALL trước khi thao tác !</b></u></p>
  <button class="btnCustomForm1 btnForm" mat-raised-button (click)="addkeyDataProductMainBrandList()">
    <i class="fal fa-plus-square"></i>
    <span>Thêm sản phẩm chính</span>
  </button>
  <button class="btnCustomForm2 btnForm" mat-raised-button (click)="clearAll()">
    <i class="fad fa-broom"></i>
    <span>Clear All</span>
  </button>
  <form action="" [formGroup]="formkeyDataProductMainBrand">
    <div formArrayName="productMainBrandList">
      <div *ngFor="let item of getproductMainBrandList().controls; let i = index">
        <div class="content-itemArr" [formGroupName]="i">
          <div class="content-formSelect">
            <span class="colorPrimary">Tên phẩm chính: </span>
            <select class="form-select" formControlName="nameMain">
              <option [ngValue]="item.link" *ngFor="let item of productMainList; let i = index">{{item.name}}</option>
            </select>
          </div>
          <div class="content-formArr">
            <label> <span class="colorPrimary">Tên sản phẩm chính nhánh: </span>
              <input type="text" placeholder="name" formControlName="name">
            </label>
            <label> <span class="colorPrimary">Link sản phẩm chính nhánh: </span>
              <input type="text" placeholder="link" formControlName="link">
            </label>
            <button class="btn btn-outline-primary btnEx" (click)="insertkeyDataProductMainBrand(i)">
              <i class="fal fa-sort-up"></i>
              <span>Chèn trên {{i}}</span>
            </button>
            <button class="btn btn-outline-danger btnEx" (click)="deletekeyDataProductMainBrandList(i)">
              <i class="fal fa-trash-alt"></i>
              <span>Xóa {{i}}</span>
            </button>
            <!--            <button (click)="checkFormInvalid(i)">check</button>-->
          </div>


          <button class="btn btn-primary btnEx" (click)="showHidden(i)">
            <i class="fad fa-caret-circle-down"></i>
            <span>Hiển thị thêm</span>
          </button>
          <button class="btn btn-danger btnEx" (click)="hideHidden(i)">
            <i class="fad fa-caret-circle-up"></i>
            <span>Ẩn nội dung</span>
          </button>

          <div *ngIf="this.hiddenArr[i]">

            <button class="btn btn-success btnExMeta" (click)="addkeyDataProductMainBrandListMetaName(i)">
              <i class="fal fa-plus-square"></i>
              <span>Thêm name meta</span>
            </button>
            <div formArrayName="productMainBrandListMetaName">
              <div *ngFor="let item of getproductMainBrandListMetaName(i).controls; let j = index">
                <div [formGroupName]="j">

                  <div class="content-formArr">
                    <label> <span>Meta name: </span>
                      <input type="text" formControlName="name" placeholder="name">
                    </label>
                    <label><span>Meta content: </span>
                      <input type="text" formControlName="content" placeholder="content">
                    </label>
                    <button class="btn btn-danger btnEx"
                            (click)="deletekeyDataProductMainBrandListMetaName(i, j)">
                      <i class="fal fa-trash-alt"></i>
                      <span>Xóa mete name {{i}}.{{j}}</span>
                    </button>
                  </div>

                </div>

              </div>
            </div>

            <button class="btn btn-success btnExMeta" (click)="addkeyDataProductMainBrandListMetaProperty(i)">
              <i class="fal fa-plus-square"></i>
              <span>Thêm property meta</span>
            </button>
            <div formArrayName="productMainBrandListMetaProperty">
              <div *ngFor="let item of getproductMainBrandListMetaProperty(i).controls; let k = index">
                <div [formGroupName]="k">
                  <div class="content-formArr">
                    <label> <span>meta property: </span>
                      <input type="text" formControlName="property" placeholder="property">
                    </label>
                    <label><span>meta content: </span>
                      <input type="text" formControlName="content" placeholder="content">
                    </label>
                    <button class="btn btn-danger btnEx"
                            (click)="deletekeyDataProductMainBrandListMetaProperty(i, k)">
                      <i class="fal fa-trash-alt"></i>
                      <span>Xóa mete property {{i}}.{{k}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-success btnExMeta" (click)="addkeyDataProductMainBrandListMetaGoogle(i)">
              <i class="fal fa-plus-square"></i>
              <span>Thêm meta google</span>
            </button>
            <div formArrayName="productMainBrandListMetaGoogle">
              <div *ngFor="let item of getproductMainBrandListMetaGoogle(i).controls; let m = index">
                <div [formGroupName]="m">
                  <div class="content-formArr">
                    <label> <span>meta itemprop: </span>
                      <input type="text" formControlName="itemprop" placeholder="itemprop">
                    </label>
                    <label><span>meta content: </span>
                      <input type="text" formControlName="content" placeholder="content">
                    </label>
                    <button class="btn btn-danger btnEx"
                            (click)="deletekeyDataProductMainBrandListMetaGoogle(i, m)">
                      <i class="fal fa-trash-alt"></i>
                      <span>Xóa mete google {{i}}.{{m}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>

  </form>
  <button [disabled]="this.formkeyDataProductMainBrand.invalid" mat-raised-button class="btnCustomForm1 btnExMeta"
          (click)="submitproductMainBrandList()">Áp dụng
  </button>
</div>


<!--//[disabled]="this.formkeyDataProductMainBrand.invalid"-->
