<div class="container-fluid pm0">
  <app-content-account [hidden]="adminComponent.returnValueCheck('account')"></app-content-account>

  <app-content-product-main [hidden]="adminComponent.returnValueCheck('product-main')"></app-content-product-main>

  <app-content-product-main-brand [hidden]="adminComponent.returnValueCheck('product-main-brand')"></app-content-product-main-brand>

  <app-content-product-details [hidden]="adminComponent.returnValueCheck('product-details')"></app-content-product-details>

  <app-content-info-company [hidden]="adminComponent.returnValueCheck('info-company')"></app-content-info-company>

  <app-content-gioi-thieu [hidden]="adminComponent.returnValueCheck('gioithieu')"></app-content-gioi-thieu>

  <app-content-tintuc-main [hidden]="adminComponent.returnValueCheck('tintuc')"></app-content-tintuc-main>

  <app-content-tintuc-details [hidden]="adminComponent.returnValueCheck('tintuc_details')"></app-content-tintuc-details>

  <app-content-lien-he [hidden]="adminComponent.returnValueCheck('lienhe')"></app-content-lien-he>

  <app-content-trang-chu [hidden]="adminComponent.returnValueCheck('trangchu')"></app-content-trang-chu>

  <app-content-cart [hidden]="adminComponent.returnValueCheck('cart')"></app-content-cart>
</div>
