.container-fluid{
  font-family: hevatica-regular, sans-serif;
  .login-text{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
  }
  .text-for-admin{
    text-align: center;
    font-family: hevatica-regular, sans-serif;
    font-size: 15px;
  }
  .img-contain{
    width: 100%;
    display: flex;justify-content: center;
    margin: 10px  0;
    img{
      width: 100%; height: 100%;
      transform: scale(0.4);
    }
  }
  form{
    width: 100%;
     display: flex;justify-content: center;
     flex-direction: column;
    ::ng-deep mat-form-field{
      width: 100%;
      font-family: hevatica-regular, sans-serif;
    }
  }
}

::ng-deep .cancelBtn{
  font-family: hevatica-regular, sans-serif;
  font-weight: 100;  font-size: 85%;
  background-image: linear-gradient(to bottom, #2b5876, #4e4376);
  margin-right: 10px;
  i{
    margin-right: 5px;color: whitesmoke;
  }
  span{
    color: whitesmoke;
  }
}
.btnGroup{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
::ng-deep .loginBtn{
  font-family: hevatica-regular, sans-serif;
  font-weight: 100;  font-size: 85%;
  background-image: linear-gradient(to bottom, #f12711, #f5af19);
  margin-right: 10px;
  i{
    margin-right: 5px;color: whitesmoke;
  }
  span{
    color: whitesmoke;
  }
}
